.owl-theme .owl-buttons div{
    display: inline-block;
    font-size: 0;
    color: #000;
    height: 46px;
    text-align: center;
    width: 46px;
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0 3px;
    vertical-align: top;
}
.owl-theme .owl-buttons .owl-prev{
    background-image: url("../../images/megnor/arrow-right.svg");
}
.owl-theme .owl-buttons .owl-next{
    background-image: url("../../images/megnor/arrow-left.svg");
}
.owl-buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 0 50px;
    background-color: #fff;
}
#brand-products .owl-buttons {
    position: unset;
    background: transparent;
    top: 35px;
    right: auto;
    padding: 0;
}
#brand-products .owl-theme .owl-buttons div {
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
}
#brand-products:hover .owl-theme .owl-buttons div {
    opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}
#brand-products .owl-theme .owl-buttons div {
    position: absolute;
}
.owl-theme .owl-buttons div.owl-prev:hover {
    background-image: url("../../images/megnor/arrow-right-hover.svg");
}
.owl-theme .owl-buttons div.owl-next:hover {
    background-image: url("../../images/megnor/arrow-left-hover.svg");
}
#horizontalTab .owl-theme .owl-buttons div.owl-prev:hover {
    background-position: left -88px;
}
#horizontalTab .owl-theme .owl-buttons div.owl-next:hover {
    background-position: right -88px;
}
.owl-theme .owl-buttons div.owl-prev{
    right: 2%;
    background-position: left center;
}
.owl-theme .owl-buttons div.owl-next{
    right: 0;
    background-position: right center;
}
.brand-carousel.owl-theme .owl-buttons div.owl-next:before {
    border: none;
}
#brand-products .owl-carousel {
    width: 100%;
    margin: 0 auto;
}
#brand-products .owl-theme .owl-buttons div {
    top: 0;
    bottom: 0;
    margin: auto;
}
#brand-products .owl-theme .owl-buttons div.owl-prev {
    left: 0;
    right: auto;
}
#brand-products .owl-theme .owl-buttons div.owl-next {
    right: 0;
    left: auto;
}
.owl-theme .owl-page {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}
.owl-pagination .owl-page span {
    height: 8px;
    width: 8px;
    border: 1px solid #505050;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
}
.owl-pagination .owl-page:hover span, .owl-pagination .owl-page.active:hover span, .owl-pagination .owl-page.active span {
    background: #505050;
}
.owl-pagination .owl-page.active span {
    cursor: default;
}
.owl-pagination .owl-page span:before {
    font-family: 'FontAwesome';
    font-size: 13px;
    color: #000;
}
.product-page .owl-pagination {
    margin: 10px 0;
}
.owl-theme .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-pagination {
    margin: 25px 0 0 0;
    text-align: center;
}
.owl-item.loading {
    min-height: 150px;
    background: url(../../images/owl/AjaxLoader.gif) no-repeat center center;
}
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
    float: left;
}
.owl-page,
.owl-buttons div {
    cursor: pointer;
}
.grabbing {
    cursor: url("../../images/owl/grabbing.png") 8 8, move;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel {
    position: unset;
    float: left;
}
.flex-control-thumbs {
    margin-top: 20px;
    margin-left: 0;
}
.portfolio-container, #latest_news {
    margin: 0 auto;
}